{% extends "base.j2" %}

{% block title %}CMU Parking Admin{% endblock %}

{% block body %}
  <div class="with-sidebar">
    {% include "admin/sidebar.j2" %}
    <div class="main">
      {% include "admin/flash.j2" %}
      <main class="inner">
        {% block main %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
