{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flash" id="flash">
      <ul class="flash__messages">
        {% for category, message in messages %}
          <li class="flash__message flash__message--{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      <span class="flash__close" id="flash-close">&times;</span>
    </div>
  {% endif %}
{% endwith %}
