{% extends "admin/base.j2" %}

{% block main %}
  <section class="stats">
    <h2 class="stats__header minor">Stats - {{ month }}</h2>
    <div class="stats__cards">
      {% for name, stat in stats.items() %}
        <div class="stats__card">
          <div class="stats__chart-wrap">
            <svg viewBox="0 0 {{ range[0] }} {{ range[1] }}" class="stats__chart">
              <polyline stroke-width="0.5"
                        points="{{ stat.line }}" />
            </svg>
          </div>
          <div class="stats__number">{{ stat.total }}</div>
          <div class="stats__description">{{ name | upper }}</div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="updates">
    <h2 class="minor">Updates</h2>
    {% for record in records %}
      <div class="update">
        <div class="update__time">{{ record.created_at|strftime_local('%b %d, %Y %H:%M') }}</div>
        <div class="update__content">{{ record.message }}</div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
