{% extends "admin/base.j2" %}
{% from "macros.j2" import render_form %}

{% block extrahead %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
          integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
          crossorigin=""></script>
{% endblock %}

{% block main %}
  <section class="edit-location">
    <div class="section__header">
      <h2 class="minor">{% if location %}{{ location.name }}{% else %}New Location{% endif %}</h2>
      <div class="global-actions">
        {% if location %}
          <a class="btn btn--normal btn--action" href="{{ url_for('admin.list_spots', id=location.id) }}">
            Edit Spots
          </a>
        {% endif %}
      </div>
    </div>
    <div class="form form--location">
      <form action="{% if location %}{{ url_for('admin.edit_location', id=location.id) }}{% else %}{{ url_for('admin.add_location') }}{% endif %}"
            method="post">
        {{ render_form(form) }}
        <div class="map" id="map"></div>
        <div class="form__btns">
          <button class="btn btn--normal btn--action">{% if location %}Confirm{% else %}Add{% endif %}</button>
          <a class="btn btn--normal btn--cancel" href="{{ url_for('admin.list_locations') }}">Cancel</a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block extrafoot %}
  <script>
   'use strict'

   var latInput = window.document.getElementById('lat')
   var lngInput = window.document.getElementById('lng')
   var defaultLat = 40.4425772
   var defaultLng = -79.9443867
   var center = [
     latInput.value || defaultLat,
     lngInput.value || defaultLng,
   ]
   var map = L.map('map').setView(center, 16)
   var marker = L.marker(center).addTo(map)

   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map)
   L.DomUtil.addClass(map._container,'crosshair-cursor')

   map.on('click', function (e) {
     map.removeLayer(marker)
     latInput.value = e.latlng.lat
     lngInput.value = e.latlng.lng
     marker = L.marker(e.latlng).addTo(map)
   })

   var handleInputChange = function (e) {
     map.removeLayer(marker)
     marker = L.marker([latInput.value || defaultLat, lngInput.value || defaultLng]).addTo(map)
   }
   latInput.addEventListener('change', handleInputChange)
   lngInput.addEventListener('change', handleInputChange)
  </script>
{% endblock %}
