{% extends "admin/base.j2" %}
{% from "macros.j2" import render_pagination, render_action_form %}

{% block main %}
  <section class="locations">
    <div class="section__header">
      <h2 class="minor">Locations</h2>
      <div class="global-actions">
        <a class="btn btn--normal btn--action" href="{{ url_for('admin.add_location') }}">
          <span class="icon"><i class="fas fa-plus fa-fw"></i></span>
          <span class="label">Add Location</span>
        </a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="right"># Spots</th>
          <th>Time Created</th>
          <th class="right"># Reservations</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
          <tr>
            <td>{{ location.name }}</td>
            <td class="right">{{ location.visible_spots.count() }}</td>
            <td>{{ location.created_at|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td class="right">{{ location.reservations.count() }}</td>
            <td class="local-actions center">
              <a class="btn btn--small btn--action" href="{{ url_for('admin.edit_location', id=location.id) }}">Edit</a>
              {{ render_action_form(form, ('admin.delete_location', { 'id': location.id }), 'Delete', 'cancel') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.list_locations') }}
  </section>
{% endblock %}
