{% extends "base.j2" %}
{% from "macros.j2" import render_form %}

{% block title %}CMU Parking Admin{% endblock %}

{% block body %}
  <div class="form form--account">
    <form action="" method="post">
      {{ render_form(form) }}
      <button class="btn btn--normal">Login</button>
    </form>
  </div>
{% endblock %}
