{% extends "admin/base.j2" %}
{% from "macros.j2" import render_pagination %}

{% block main %}
  <section class="reservations">
    <div class="section__header">
      <h2 class="minor">Reservations</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Location</th>
          <th>Spot</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
          <tr>
            <td>
              <a href="mailto:{{ reservation.customer.email }}">
                {{ reservation.customer.name }}
              </a>
            </td>
            <td>{{ reservation.location.name }}</td>
            <td>{% if reservation.spot %}{{ reservation.spot.name }}{% endif %}</td>
            <td>{{ reservation.start|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td>{{ reservation.end|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td>{{ reservation.state.name }}</td>
            <td class="local-actions center">
              {% if reservation.spot and reservation.is_alive() %}
                <a class="btn btn--small"
                   href="{{ url_for('admin.show_reservation', id=reservation.id) }}">
                  Show
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.list_reservations') }}
  </section>
{% endblock %}
