{% extends "admin/base.j2" %}
{% from "macros.j2" import render_cell_field %}


{% block main %}
  <section class="settings">
    <div class="section__header">
      <h2 class="minor">Settings</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Location</th>
          <th class="right">Padding (Minutes)</th>
          <th>Time Zone</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for location, form in lfs %}
            <tr>
              <form class="form form--inline" action="{{ url_for('admin.edit_conf', id=location.id) }}" method="post">
                {{ form.hidden_tag() }}
                <td><a href="{{ url_for('admin.edit_location', id=location.id) }}">{{ location.name }}</a></td>
                <td class="right">
                  {{ render_cell_field(form.reservation_padding, 'right', { 'id': '%s-%d'|format('reservation-padding', location.id) }) }}
                </td>
                <td>
                  {{ render_cell_field(form.time_zone, 'left', { 'id': '%s-%d'|format('time-zone', location.id) }) }}
                </td>
                <td class="local-actions center">
                  <button class="btn btn--small btn--confirm">Save</button>
                </td>
              </form>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
