{%  set navs = [
  (url_for('admin.home'), 'home', 'Home', 'home'),
  (url_for('admin.list_users'), 'user', 'Users', 'users'),
  (url_for('admin.list_reservations'), 'reservation', 'Reservations', 'list-ul'),
  (url_for('admin.list_locations'), 'location', 'Locations', 'map-pin'),
  (url_for('admin.list_violations'), 'violation', 'Violations', 'eye'),
  (url_for('admin.list_confs'), 'setting', 'Settings', 'sliders-h'),
] -%}

{% set active_page = active_page | default('home') -%}


<div class="sidebar">
  <div class="admin">
    {% if current_admin %}
      <div class="admin__avatar">
        <img alt="AVATAR" src="{{ current_admin.get_avatar() }}" />
      </div>
      <div class="admin__info">
        <div class="admin__name">{{ current_admin.name }}</div>
        <div class="admin__email"><a href="mailto:{{ current_admin.email }}">{{ current_admin.email }}</a></div>
        <div class="admin__logout">
          <a href="{{ url_for('admin.logout') }}">Logout</a>
        </div>
      </div>
    {% else %}
      You need to <a href="{{ url_for('admin.login') }}">login first.</a>
    {% endif %}
  </div>
  <div class="nav">
    <ul class="tabs">
      {% for href, name, label, icon in navs %}
        <li class="tabs__item{% if name == active_page %} tabs__item--active{% endif %}">
          <span class="icon"><i class="fas fa-{{ icon }} fa-fw"></i></span>
          <a href="{{ href }}">{{ label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
