{% extends "admin/base.j2" %}
{% from "macros.j2" import render_pagination, render_action_form, render_cell_field %}

{% block main %}
  <section class="spots">
    <div class="section__header">
      <h2 class="minor">{{ location.name }} - Spots</h2>
      <div class="global-actions">
        <a class="btn btn--normal btn--action"
           href="{{ url_for('admin.edit_location', id=location.id) }}">
          Edit Basic Info
        </a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>IP Address</th>
          <th>Time Created</th>
          <th class="right"># Reservations</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form action="{{ url_for('admin.add_spot', id=location.id) }}"
                method="post"
                class="form form--inline">
            {{ form.hidden_tag() }}
            <td>
              {{ render_cell_field(form.name) }}
            </td>
            <td>
              {{ render_cell_field(form.ip_addr) }}
            </td>
            <td></td>
            <td></td>
            <td class="local-actions center"><button class="btn btn--small btn--action">Add</button></td>
          </form>
        </tr>
        {% for spot in spots %}
          <tr>
            <td>{{ spot.name }}</td>
            <td>{{ spot.ip_addr }}</td>
            <td>{{ spot.created_at|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td class="right">{{ spot.reservations.count() }}</td>
            <td class="local-actions center">
              {{ render_action_form(dform, ('admin.delete_spot', { 'lid': location.id, 'sid': spot.id }), 'Delete', 'cancel') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.list_spots', { 'id': location.id }) }}
  </section>
{% endblock %}
