{% extends "admin/base.j2" %}
{% from "macros.j2" import render_pagination %}

{% block main %}
  <section class="users">
    <div class="section__header">
      <h2 class="minor">Users</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Plate Number</th>
          <th>Time Joined</th>
          <th class="right"># Reservations</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.plate_number }}</td>
            <td>{{ user.created_at|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td class="right">{{ user.reservations.count() }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.list_users') }}
  </section>
{% endblock %}
