{% extends "admin/base.j2" %}

{% block main %}
  <section class="violation">
    <div class="section__header">
      <h2 class="minor">Violation {{ violation.id }}</h2>
    </div>
    <div class="violation__content">
      <div class="violation__info">
        <div class="group">
          <span class="label secondary">Reporter:</span>
          <a href="mailto:{{ violation.customer.email }}" class="value">
            {{ violation.customer.name }}
          </a>
        </div>
        <div class="group">
          <span class="label secondary">Spot:</span>
          <span class="value">{{ violation.spot.location.name }}, {{ violation.spot.name }}</span>
        </div>
        <div class="group">
          <span class="label secondary">Report Time:</span>
          <span class="value">{{ violation.created_at|strftime_local('%b %d, %Y %H:%M') }}</span>
        </div>
        <div class="group">
          <span class="label secondary">State:</span>
          <span class="value">{{ violation.state.name }}</span>
        </div>
      </div>
      <div class="violation__comment">
        <p>
          <span class="label secondary">Comment:</span>
          {{ violation.comment }}
        </p>
      </div>
      <div class="violation__photo">
        <img alt="Violation photo."
             src="{{ url_for('get_uploads', filename=violation.photo_id) }}" />
      </div>
      <div class="violation__actions form__btns">
        {% if violation.is_pending() %}
          <form action="">
            <a class="btn btn--normal btn--confirm"
               href="{{ url_for('admin.confirm_violation', id=violation.id) }}">Confirm</a>
          </form>
          <form action="{{ url_for('admin.reject_violation', id=violation.id) }}">
          </form>
        {% endif %}
        <a href="{{ backurl }}"
           class="btn btn--normal">Return</a>
      </div>
    </div>
  </section>
{% endblock %}
