{% extends "admin/base.j2" %}
{% from "macros.j2" import render_pagination, render_action_form %}

{% block main %}
  <section class="violations">
    <div class="section__header">
      <h2 class="minor">Violations</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Report Time</th>
          <th>Spot</th>
          <th>State</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for violation in violations %}
          <tr>
            <td>
              <a href="mailto:{{ violation.customer.email }}">
                {{ violation.customer.name }}
              </a>
            </td>
            <td>{{ violation.created_at|strftime_local('%b %d, %Y %H:%M') }}</td>
            <td>
              {{ violation.spot.location.name }}, {{ violation.spot.name }}
            </td>
            <td>{{ violation.state.name }}</td>
            <td class="local-actions center">
              <a class="btn btn--small"
                 href="{{ url_for('admin.view_violation', id=violation.id, next=request.path) }}">View</a>
              {% if violation.is_pending() %}
                {{ render_action_form(cform, ('admin.confirm_violation', { 'id': violation.id }), 'Confirm', 'confirm') }}
                {{ render_action_form(rform, ('admin.reject_violation', { 'id':violation.id }), 'Reject', 'cancel') }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, 'admin.list_violations') }}
  </section>
{% endblock %}
