body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.42 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, .68);
}

a {
  color: rgba(0, 0, 0, .98);
  word-wrap: break-word;
}

a:hover {
  color: #777;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.11);
}

img {
  max-width: 100%;
  text-align: center;
}

section:not(:last-child) {
  margin-bottom: 4em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  box-sizing: border-box;
}

th {
  font-weight: 400;
  background-color: #efefef;
}

th,
td {
  text-align: left;
  padding: 10px 12px 10px 16px;
  border: 1.5px solid #cbcbcb;
}

td {
  vertical-align: top;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.crosshair-cursor {
  cursor: crosshair;
}

.has-errors {
  border-color: #e85746;
}
