.form--account {
  max-width: 400px;
  margin: 100px auto;
}

.form--inline {
  display: inline;
}

.field {
  display: block;
  margin-bottom: 20px;
}

.field label {
  display: inline-block;
  font-size: 0.9em;
  font-weigth: 400;
  padding-bottom: 6px;
}

.field__input {
  display: block;
  background-color: white;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.42);
  box-sizing: border-box;
  color: #333;
  outline: none;
  cursor: text;
  width: 100%;
  line-height: 1;
  padding: 8px;
}

.field__input[type=checkbox] {
  cursor: pointer;
}

.field__input:hover,
.field__input:focus,
.field__input:active {
  border-color: rgba(0, 0, 0, 0.98);
}

.field__input::placeholder {
  color: #8898AA;
}

.field__input--cell {
  line-height: 1;
  padding: 2px;
  margin: 0;
  display: inline-block;
  max-width: 10em;
}

.field__errors {
  list-style-type: none;
  margin: 4px 0 0;
  padding: 0;
  font-size: 12px;
  color: #e85746;
}

.field--app-conf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field__input--app-conf {
  width: 7%;
}

.field--app-conf label {
  font-size: 1em;
  font-weigth: 400;
}

.form--app-conf {
  margin-top: 1em;
}

.with-sidebar {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.sidebar {
  height: 100vh;
  box-sizing: border-box;
  background-color: #fbfcfc;
  flex: 1 2 auto;
  max-width: 320px;
  overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.main {
  margin: 0;
  padding: 1em 2em;
  flex: 2 1 auto;
  overflow-y: auto;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
}

.minor {
  color: rgba(0, 0, 0, 0.17);
}

.secondary {
  opacity: 0.7;
}

.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding: 1em;
}

.admin__avatar {
  flex: 0 0 60px;
  margin-right: 1em;
  border: 2px solid rgba(0, 0, 0, 0.11);
  border-radius: 50%;
  overflow: hidden;
}

.admin__info {
  color: rgba(0, 0, 0, 0.68);
  flex: 1 0 auto;
}

.admin__email {
  font-size: 0.9em;
}

.admin__email a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.admin__email a:hover {
  color: rgba(0, 0, 0, 0.68);
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.68);
  transition: background-color .1s;
  cursor: pointer;
  line-height: 1.15;
  display: inline-block;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.98);
  background-color: #e1e1e1;
}

.btn--small {
  padding: 0.35em 0.5em;
}

.btn--normal {
  padding: 0.5em 1em;
}

.btn--large {
  padding: 0.7em 1.2em;
}

.btn--action {
  color: #fff;
  background-color: #2796cb;
}

.btn--action:hover {
  color: #fff;
  background-color: #37a6cb;
}

.btn--confirm {
  color: #fff;
  background-color: #169954;
}

.btn--confirm:hover {
  color: #fff;
  background-color: #16aa54;
}

.btn--cancel {
  color: #fff;
  background-color: #cf3737;
}

.btn--cancel:hover {
  color: #fff;
  background-color: #df3737;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__item {
  padding: 0.7em 2em;
}

.tabs__item a {
  text-decoration: none;
}

.tabs__item .icon {
  margin-right: 0.5em;
}

.tabs__item--active {
  color: #fff;
  background-color: #2796cb;
}

.tabs__item--active a {
  color: #fff;
}

.stats__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
}

.stats__card {
  text-align: center;
}

.stats__chart-wrap {
  width: 100px;
  height: 100px;
  padding: 0 2em 1em;
}

.stats__chart {
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  transform: scale(1, -1);}

.stats__chart polyline {
  fill: none;
  stroke: #2796cb;
}

.stats__number {
  font-weight: 700;
  font-size: 2em;
}

.update {
  margin-bottom: 0.5em;
}

.update__time {
  color: rgba(0, 0, 0, 0.47);
  margin-right: 1em;
  flex-shrink: 0;
}

.update__time::before {
  content: '[ '
}

.update__time::after {
  content: ' ]'
}

.update {
  display: flex;
  flex-direction: row;
}

.pager {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  padding: 0em 3em;
}

.pager__btn {
  color: rgba(0, 0, 0, .68);
}

section {
  margin-bottom: 3em;
}

.section__header {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
  align-items: center;
}

.form--location .fields {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
  align-items: center;
}

.form--location .field {
  flex-grow: 1;
}

.form--location .field:not(:last-child) {
  margin-right: 1em;
}

.form__btns {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.flash {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direciton: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}

.flash__close {
  cursor: pointer;
}

.flash__messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flash__message {
  color: #0c5460;
}

.violation__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.violation__info .group:not(:last-child) {
  margin-right: 2em;
}

.violation__photo {
  text-align: center;
  margin: 1em auto;
}
