<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title>{% block title %}CMU Parking{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    {% block extrahead %}{% endblock %}
    {% for css in assets.styles %}
      <link href="{{ css }}" rel="stylesheet" />
    {% endfor %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block extrafoot %}{% endblock %}
    {% for js in assets.scripts %}
      <script src="{{ js }}"></script>
    {% endfor %}
  </body>
</html>
