{% macro render_field(field) %}
  <div class="field">
    <span>{{ field.label() }}</span>
    {% if field.flags.required %}
      {{ field(class_="field__input", required=True) }}
    {% else %}
      {{ field(class_="field__input") }}
    {% endif %}
    {% if field.errors %}
      <ul class="field__errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_cell_field(field, alignment='left', kwargs={}) %}
  {% if field.errors %}
    {% set classes = '%s%s'|format(alignment, ' has-errors') -%}
  {% else %}
    {% set classes = '%s'|format(alignment) -%}
  {% endif %}
  {% if field.flags.required %}
    {{ field(class_='field__input field__input--cell %s'|format(classes), required=True, **kwargs) }}
  {% else %}
    {{ field(class_='field__input field__input--cell %s'|format(classes), **kwargs) }}
  {% endif %}
{% endmacro %}

{% macro render_form(form) %}
  {{ form.hidden_tag() }}
  <div class="fields">
    {% for field in form.get_visible_fields() %}
      {{ render_field(field) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_action_form(form, endpoint, label, type) %}
  <form method="post" action="{{ url_for(endpoint[0], **endpoint[1]) }}" class="form--inline">
    {{ form.hidden_tag() }}
    <button class="btn btn--small btn--{{ type }}">{{ label }}</button>
  </form>
{% endmacro %}

{% macro render_pagination(pagination, endpoint, kwargs={}) %}
  <div class="pager">
    <a class="pager__btn {% if not pagination.has_prev %}disabled{% endif %}"
       href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">&lt; Prev</a>
    <span class="pager__page-num">{{ pagination.page }} of {{ pagination.pages }}</span>
    <a class="pager__btn {% if not pagination.has_next %}disabled{% endif %}"
       href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">Next &gt;</a>
  </div>
{% endmacro %}
